{% extends "base.html" %}
{% load static %}
{% block title %}
  Технологии
{% endblock %}
{% block content %}
  <div class="row">
    <h2>Вот что я умею</h2>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div>
            <img src="{% static 'img/about/tech.jpg' %}" class="img-fluid rounded-start" alt="...">
          </div>
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p class="card-text">Python:
        <small class="text-muted ">
          'Высокоуровневый язык программирования общего '
          'назначения с динамической строгой типизацией и '
          'автоматическим управлением памятью, ориентированный '
          'на повышение производительности разработчика, '
          'читаемости кода и его качества, а также на '
          'обеспечение переносимости написанных на нём '
          'программ'
        </small>
      </p>
      <p class="card-text">Django:
        <small class="text-muted ">
          'Веб-проект можно написать с чистого листа, '
          'а можно воспользоваться фреймворком — набором '
          'готовых инструментов для разработки и собрать '
          'сайт «из деталей», как из конструктора Лего. '
          'Django — один из распространённых и популярных '
          'фреймворков, написанных на Python.'
        </small>
      </p>
      <p class="card-text">Базы данных и SQL:
        <small class="text-muted ">
          'Эти технологии созданы для хранения '
          'данных и управления ими. Вы узнаете, '
          'как создавать базы и записывать в них '
          'данные, как запрашивать информацию из БД '
          'и как искать иголки в стогах полученных '
          'данных.'
        </small>
      </p>
      <p class="card-text">GIT:
        <small class="text-muted ">
          'Эта программа упрощает совместную работу нескольких '
          'разработчиков над кодом одного проекта.'
        </small>
      </p>
      <p class="card-text">HTML:
        <small class="text-muted ">
          Cтандартизированный язык гипертекстовой разметки документов для
          просмотра веб-страниц в браузере.
        </small>
      </p>
    </article>
  </div>
{% endblock %}